body {
    background-color: rgb(50, 50, 50);
    color: rgb(240, 240, 240);
    text-align: center;
    margin: 0 auto;

    font-family: 'Signika', sans-serif;
    font-size: 24px;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}

button > img {
    height: 150px;
    width: 150px;
}

button > img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-r {
    color: rgb(199, 174, 157);
}

#header-p {
    color: rgb(175, 207, 199);
}

#header-s {
    color: rgb(221, 168, 168);
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    margin: 10px;
}

.choices {
    height: 150px;
    width: 150px;
    margin: 50px 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

#restart {
    height: 70px;
    width: 165px;
    margin-top: 20px;
    border-radius: 10px;

    font-family: 'Chelsea Market', cursive;
    background-color: transparent;
    color:rgb(231, 189, 133);
    font-size: 20px;
    border-color: rgb(231, 173, 133);
}

.results,
.scores {
    margin: 5px;
    font-size: 28px;
}