body {
    background-color: rgb(50, 50, 50);
    color: rgb(240, 240, 240);
    text-align: center;
    margin: 0 auto;

    font-family: 'Signika', sans-serif;
    font-size: 24px;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}

button > img {
    height: 150px;
    width: 150px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    margin: 10px;
}

.choices > button {
    height: 150px;
    width: 150px;
    margin: 50px 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.results,
.scores {
    margin: 5px;
    font-size: 28px;
}