body {
    background-color: rgb(50, 50, 50);
    color: rgb(240, 240, 240);
    text-align: center;
    margin: 0 auto;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    margin: 10px;
}

.results,
.scores {
    margin: 5px;
}